.AddCategory{
    display: flex;
    list-style: none;
    padding: 0%;
    justify-content: space-around;
}

.AddCategory:hover{
    /* font-weight: bolder; */
    background: #0000ff1f;
    cursor: pointer;
}