.AddItemContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 23px;
    padding-right: 41px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.InputTask{
    width: 80%;
    height: 30px;
    font-size: 20px
}

.AddTask{
    width: 18%;
    cursor: pointer;
}

